@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Barlow:wght@300;400&family=Karla:wght@300;400&family=Michroma&family=Outfit:wght@100;500&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Barlow+Condensed&family=Barlow:wght@300;400&family=Karla:wght@300;400&family=Michroma&family=Outfit:wght@100;500&family=Rubik:wght@300&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:PlusJakartaSans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Cantarell,Helvetica Neue,Ubuntu,sans-serif;
}

/* variable declarations */
:root{
    --primary:#00203FFF;
    --secondary:#ADEFD1FF;
}
body{
    background-color:#f3f3f3;
}


.our h3{
    width: 175px;
}

header{
    display: flex;
    height: 100px;
    justify-content: space-between;
    background-color:var(--primary);
    position: sticky;
    top: 0%; 
    z-index: 1; 
    box-shadow: 0px 10px 20px rgb(0,0,0,0.1);
    
}
.menu{
    display: none;
}
#bar{
    display: none;
}
ul{
    list-style: none;
}

.top-list{
    display: flex;
    width: 500px;
    justify-content: space-evenly;
    margin-top: 30px;
}
.logo{
    display: flex;
    width: 250px;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 50px;
    color:var(--secondary);
    cursor: pointer;
    
}
/* product card js main div */

.pack{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-height: max-content;
}
.mob{
    margin: 4%;
}
.mob-link{
    text-decoration: none;
    color: black;
    font-size: large;
}
.search{

    width: 40%;
    height: 50px;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
    border: 1px solid rgb(209, 209, 209);
    margin-right: 0%;
    margin-left: 25%;
    margin-top: 31px;
    border-right: 0px;
}
.fa-search{
    color: var(--primary);
    background-color:var(--secondary);
    padding: 15px;
    height: 49px;
    margin-top: 30px;
    margin-right: 200px;
    margin-left: 0px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    right: 5px;
    border: 1px solid  rgb(209, 209, 209);
    border-left: 0px;
}

.login{
    padding: 10px;
    width: 110px;
    border: 0px solid var(--secondary);
    background-color: var(--secondary);
    border-radius: 10px;
    color:var(--primary);
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(0,0,0,0.2);
}
.assure p,img,h3 {
    position: relative;
    bottom: 30px;
    
}
.assure p{
    width: 250px;
   position: relative;
   right: 20px;
}
.logo-name{
    margin-top: 6px;
    margin-right: 80px;
    font-weight: bold;
    font-size: 25px;
    font-family:PlusJakartaSans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Cantarell,Helvetica Neue,Ubuntu,sans-serif;
}
ul a{
    text-decoration: none;   
}
.seller{
    margin-top: 10px;
    color:var(--secondary);
}
.home-icon{
    padding: 10px;
    height: 35px;
    border: 0px solid var(--secondary);
    background-color: var(--secondary);
    border-radius: 5px;
    color:var(--primary);
    box-shadow: 0px 0px 10px rgb(0,0,0,0.2);
}
.logo img{
    margin-top: 40px;
}
/* header end */
main{
    display: flex;
    justify-content: space-evenly;
}
.rate{
    width: 40%;
    height: 200px;
    margin-left: 30px;
    margin-top: 30px;
    border: 0.5px solid white;
    padding: 20px;
    
    
}
.rate h2{
    width: 300px;
}
.rating{
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
    width: 170px;
    margin-top: 10px;
}
.rating-1{
    display: flex;
    background-color:var(--primary);
    color: var(--secondary);
    width: 60px;
    justify-content: space-evenly;
    padding: 7px;
    border-radius:15px;
    box-shadow: 0px 0px 10px rgb(0,0,0,0.1);
}
.fa-star{
    font-size:smaller;
    margin-top: 2px;
}
.rating p{
    margin-top:7px;
    font-weight: 700;
    font-size: small;
    color: gray;
}
.free{
    color: var(--primary);
    background-color: var(--secondary);
    width: 100px;
    margin-top: 20px;

}
.price{
    font-size: 30px;
    font-weight: bolder;
    margin-top: 10px;

}
.product-container{
    display: flex;
     /* box-shadow: 0px 0px 10px rgb(0,0,0,0.2); */
    height: 350px;
    width: 800px;
    padding-left: 40px;
    margin-top: 50px;
    margin-left: 100px;
    border-radius: 10px;
    transition: 0.5s;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
    background-color:#ffff;
    border-left:5px solid white;
}
.product-container:hover{
    border-left:5px solid var(--secondary) ;
    transition: 0.5s;
}
.product-container img{
    margin-top: 50px;
}
.quantity{
    display: flex;
    position: relative;
    top: 190px;
    left: 55px;
    
}
.quantity input{
    width: 50px;
    height: 30px;
    margin-left: 10px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding: 10px;
}
.order{
    width: 240px;
    margin-top: 20px;
}
.btn-buy{
    height: 40px;
    width: 150px;
    border-radius: 20px;
    position: relative;
    top: 260px;
    border: solid var(--secondary);
    background-color: var(--secondary);
    color: var(--primary);
    right: 90px;
    box-shadow: 0px 0px 2px 1px rgb(0,0,0,0.1);
}
.product-container img{
    margin-bottom: 40px;
}
.fa-trash{
    margin-left: 5px;
}
.list{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;

}
.list li{
    padding: 13px;
}
.list ul{
    text-decoration: none;
    list-style:none;
    padding-top: 30px;
}
.amount{
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin-top: 15px;
    margin-left: 45px;
    
    height: 55px;
}
.logo a{
    text-decoration: none;
    color: var(--secondary);
}
.btn-buy{
    cursor: pointer;
}
#hrtag{
    border-color: rgba(211, 211, 211, 0.313);
    height: 1px;
    width: 76%;
    margin: auto;
}
#empty{
    margin: auto;
    position: absolute;
    top: 10%;
    display: none;
}
#empty p{
    font-size: 60px;
    width: 600px;
    text-align: center;
    font-weight: 500;
    -webkit-text-fill-color: var(--secondary); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}
#empty img{
    scale: 0.9;
}
.summary_container{
    box-shadow: 0px 0px 10px rgb(0,0,0,0.2);
    width: 400px;
    height: 400px;
    margin-top: 40px;
    border-radius: 20px;
    background-color: #fff;
    padding: 10px;

}
main{
    display: flex;
}
#hr{
    width: 300px;
    margin: auto;
    margin-top: 0%;
}
.pr_price{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    font-size: 18px;
}
#deliver{
    color: rgb(0, 179, 0);
}
#hr_2{
    width: 300px;
    margin: auto;
    margin-top: 12%;
}
#total{
    margin-top: 0%;
    margin-top: 5%;
    font-weight: 600;
}
.summary_container h2{
    font-weight: 400;
    margin: 20px;
    margin-left: 45px;
    padding: 7px;
    font-weight: 100;
    font-size: 30px;
    height: 60px;
    width: fit-content;
}
#quantity::-webkit-outer-spin-button,
#quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#quantity{
    outline: none;
    border: 1px solid white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding-inline-start: 20px;
    
}
span button{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border: none;
    background-color: #ADEFD1FF;
    border-radius: 5px;
    cursor: pointer;
}
span button:nth-child(1){
    margin: 0%;
}
.contain_new{
    border: 2px solid black;
}

.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #ADEFD1FF;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: var(--primary);
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  margin-top: 30px;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}





