@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Barlow:wght@300;400&family=Karla:wght@300;400&family=Michroma&family=Outfit:wght@100;500&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Barlow+Condensed&family=Barlow:wght@300;400&family=Karla:wght@300;400&family=Michroma&family=Outfit:wght@100;500&family=Rubik:wght@300&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:PlusJakartaSans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Cantarell,Helvetica Neue,Ubuntu,sans-serif;
}

/* variable declarations */
:root{
    --primary:#00203FFF;
    --secondary:#ADEFD1FF;
}
body{
    background-color:#ffffff;
    overflow: hidden;
}


.our h3{
    width: 175px;
}

header{
    display: flex;
    height: 100px;
    justify-content: space-between;
    background-color:var(--primary);
    position: sticky;
    top: 0%; 
    z-index: 1; 
    box-shadow: 0px 10px 20px rgb(0,0,0,0.1);
    
}
.menu{
    display: none;
}
#bar{
    display: none;
}
ul{
    list-style: none;
}

.top-list{
    display: flex;
    width: 500px;
    justify-content: space-evenly;
    margin-top: 30px;
    cursor: pointer;
}
.logo{
    display: flex;
    width: 250px;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 50px;
    color:var(--secondary);
    
}
/* product card js main div */

.pack{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-height: max-content;
    
}
.mob-link{
    text-decoration: none;
    color: black;
    font-size: large;
    margin: 1%;
}
.search{

    width: 40%;
    height: 50px;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
    border: 1px solid rgb(209, 209, 209);
    margin-right: 0%;
    margin-left: 25%;
    margin-top: 31px;
    border-right: 0px;
}
.fa-search{
    color: var(--primary);
    background-color:var(--secondary);
    padding: 15px;
    height: 49px;
    margin-top: 30px;
    margin-right: 200px;
    margin-left: 0px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    right: 5px;
    border: 1px solid  rgb(209, 209, 209);
    border-left: 0px;
}

.login{
    padding: 10px;
    width: 110px;
    border: 0px solid var(--secondary);
    background-color: var(--secondary);
    border-radius: 10px;
    color:var(--primary);
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(0,0,0,0.2);
}
.assure p,img,h3 {
    position: relative;
    bottom: 30px;
    
}
.assure p{
    width: 250px;
   position: relative;
   right: 20px;
}
.logo-name{
    margin-top: 6px;
    margin-right: 80px;
    font-weight: bold;
    font-size: 25px;
    font-family:PlusJakartaSans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Cantarell,Helvetica Neue,Ubuntu,sans-serif;
}
ul a{
    text-decoration: none;   
}
.seller{
    margin-top: 10px;
    color:var(--secondary);
}
.home-icon{
    padding: 10px;
    height: 35px;
    border: 0px solid var(--secondary);
    background-color: var(--secondary);
    border-radius: 5px;
    color:var(--primary);
    box-shadow: 0px 0px 10px rgb(0,0,0,0.2);
}
.download{
    display: flex;
    justify-content: space-between;
    height: 30rem;
    width: 90%;
    margin-left: 90px;
    margin-top: 60px;
    border-radius: 20px;
    background-color:var(--primary);
    color: white;
    font-family:'Acme', sans-serif;
    box-shadow: 5px 7px 20px rgb(145, 145, 145);
    background-image: url(../../assets/image/wave-2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.download h1{
    font-family: PlusJakartaSans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Cantarell,Helvetica Neue,Ubuntu,sans-serif;;

}
/* .pack :nth-child(5) img{
    margin: 0%;
    margin-left: 25px;
    margin-top: 20px;
    width: 200px;
}
.pack :nth-child(6) img{
    margin: 0%;
    margin-left: 25px;
    margin-top: 20px;
    width: 200px;
}
.pack :nth-child(7) img{
    margin: 0%;
    margin-left: 25px;
    margin-top: 20px;
    width: 200px;
}
.pack :nth-child(8) img{
    margin: 0%;
    margin-left: 25px;
    margin-top: 20px;
    width: 200px;
} */
.download-1{
    width: 400px;
    height: 400px;
    margin-left: 180px;
    margin-top: 50px; 
    padding: 30px;
    font-size: 30px;
}
.logo img{
    margin-top: 40px;
}
.head{
    /* border: 2px solid black; */
    width: 100%;
    height: 20rem;
    background-color: #ADEFD1FF;
    padding: 2rem 10rem;
    
}
.head h1{
    font-size: 60px;
    font-weight: 700;
    padding-bottom: 1rem;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.contact_container{
    /* border: 2px solid black; */
    width: 60%;
    height: 30rem;
    margin: auto;
    z-index: 3;
    position: relative;
    bottom: 7rem;
    right: 9rem;
    background-color:white;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    padding: 2rem 7rem;
}
.input_container{
    width: 70%;
    height: 6rem;
    padding: 1rem;
}
.input_container p{
    padding-bottom: 0.5rem;
    font-weight: 600;
}
.input_container input{
    width: 25rem;
    height: 2.5rem;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    border-radius: 3px;
}

textarea{
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
.input_3{
    display: flex;
    width: 100%;
}
/* CSS */
.button-33 {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 10rem;
    height: 2.5rem;
    margin: 2rem;
    margin-top: 10rem;
  }
  
  .button-33:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }
