@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Barlow:wght@300;400&family=Karla:wght@300;400&family=Michroma&family=Outfit:wght@100;500&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Barlow+Condensed&family=Barlow:wght@300;400&family=Karla:wght@300;400&family=Michroma&family=Outfit:wght@100;500&family=Rubik:wght@300&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:PlusJakartaSans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Cantarell,Helvetica Neue,Ubuntu,sans-serif;;

}

/* variable declarations */
:root{
    --primary:#00203FFF;
    --secondary:#ADEFD1FF;
}
body{
    background-color: rgba(173, 239, 209, 0.285);
}
.container{
    width: 1000px;
    height: 420px;
    scale: 1.1;
    display: flex;
    margin: auto;
    margin-top: 180px;
    box-shadow: 0px 0px 20px rgb(0,0,0,0.2);
    border-radius: 10px;
    background-color: #ffff;
}
body{
    background-image: url(../../assets/image/stacked-waves-haikei.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.contain-text{
    margin-left: 20px;
}
.container img{
    margin-left: 30px;
}
.contain-text h2{
    margin-left: 170px;
    margin-top: 30px;
}
.contain-input{
    padding: 20px 50px;
}
.contain-input input{
    padding: 20px;
    width: 380px;
    border: none;
    background-color: rgba(211, 211, 211, 0.144);
    margin: 20px;
    outline: none;
    border-left: 4px solid var(--secondary);
    box-shadow: 0px 0px 7px rgb(0,0,0,0.1);
}
.contain-text button{
    padding: 11px;
    width: 200px;
    font-weight: bold;
    color: var(--secondary);
    background-color: var(--primary);
    position: relative;
    left: 100px;
    top: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(0,0,0,0.1);
    transition: 0.5s;
    cursor: pointer;
    border:3px solid var(--secondary) ;
}
.contain-text button:hover{
    box-shadow: inset 3px 3px 3px var(--secondary);
    box-shadow: inset -3px -3px -3px var(--secondary);
    background-color: var(--secondary);
    color: var(--primary);
    transition: 0.4s;
}
.contain-text p{
    margin-left: 140px;
    margin-top: 30px;
}
input:valid
{
  border-left: 4px solid var(--secondary);
}
input:invalid
{
    border-left: 4px solid red;
}