@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Barlow:wght@300;400&family=Karla:wght@300;400&family=Michroma&family=Outfit:wght@100;500&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Barlow+Condensed&family=Barlow:wght@300;400&family=Karla:wght@300;400&family=Michroma&family=Outfit:wght@100;500&family=Rubik:wght@300&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:PlusJakartaSans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Cantarell,Helvetica Neue,Ubuntu,sans-serif;
}

/* variable declarations */
:root{
    --primary:#00203FFF;
    --secondary:#ADEFD1FF;
}
body{
    background-color:#ffffff;
}

.login-container{
    width:450px;
    height: 750px;
    margin-top:5%;
    margin-left: 32%;
    display: flex;
    background-color: rgba(173, 239, 209, 0.651);
    border: 0.5px solid rgba(128, 128, 128, 0.486);
    z-index: 1;
    box-shadow: 0px 7px 20px rgb(145, 145, 145);
}
.login-text{
    text-align: center;
    background-color: var(--secondary);
    height: 340px;
    width: 380px;
    border: 2px solid var(--secondary);
    border-radius: 10px;
    position: relative;
    bottom: 440px;
    left: 510px;
    z-index: 2;
    box-shadow: 1px 1px 20px rgb(145, 145, 145);
}
.login-text input{
    display: flex;
    padding: 23px;
    position: relative;
    left: 20px;
    top: 50px;
    border-radius: 20px;
    width: 340px;
    border: none;
    border-width: 0px 0px 2px 0px;
    box-shadow: 0px 0px 10px rgb(0,0,0,0.2);
    outline: none;
}
.login-text h2{
    margin-top: 20px;
}
.input-2{
    margin-top: 50px;
}
.login-but{
    padding: 20px;
    width: 200px;
    border: 0px solid var(--primary);
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 30px;
    position: relative;
    bottom: 470px;
    left: 600px;
    z-index: 3;
    box-shadow: 5px 7px 25px rgb(145, 145, 145);
    cursor: pointer;
}

.login-but:hover{
    scale: 1.04;
    transition: 0.6s;
    color: white;
    background-color: rgba(0, 31, 63, 0.918);
}
.login-body{
    overflow: hidden;
    background-color: rgba(211, 211, 211, 0.253);
}
.signup{
    position:relative;
    bottom: 450px;
    left: 610px;
}
.signup a{
    color: var(--primary);
}
input:valid
{
  border:none;
  outline: 2px solid rgb(19, 206, 19);


}
input:invalid
{
    border:none;
  outline: 2px solid rgb(238, 11, 11);
}